.home {
      
    width: 100vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 6rem;
        border-radius: 20px;
        background-color: rgb(139, 218, 60);
      
      }
        
    